.abilities {
  height: 100vh;
  padding: 0 12rem;
  background-color: #e5e5e5;
}
.ability_title {
  color: #22a39f;
  font-size: 28px;
  margin-bottom: 2rem;
}

.green_star {
  color: rgb(59, 153, 59);
  font-size: 20px;
}
.red_star {
  color: rgb(236, 95, 95);
  font-size: 20px;
}

.ability_items:hover {
  background-color: whitesmoke;
  border-radius: 20px;
  color: black;
}

.list_items {
  padding-left: 1rem;
  border-radius: 5px;
}
.ability_items {
  display: flex;
  justify-content: space-between;
}
