.comp_footer {
  text-align: center;
  font-size: 18px;
  margin-top: auto;
}

.contact {
  height: 100%;
  padding: 0 12rem;
  background-color: #434242;
  color: rgb(160, 182, 201);
}

.all_icons {
  text-align: center;
  margin: 1rem;
}

.footer_name {
  font-weight: bold;
}
.gmailicon:hover {
  cursor: pointer;
}
