.education {
  height: 100vh;
  padding: 0 15rem;
}

.education_header {
  font-size: 40px;
  font-weight: 400;
  text-transform: none;
  font-style: normal;
  text-align: center;
}

.education_title {
  text-align: center;
  font-weight: bold;
  font-size: 17px;
  color: rgb(24, 23, 23);
}
