.card_link a {
  color: rgb(51, 144, 175);
  font-size: 14px;
}

.projectcard {
  height: 25rem;
}

.projectcard img {
  height: 12rem;
}

.project_title {
  text-align: center;
  color: black;
}

.card_link {
  line-height: 1.2rem;
}
