.about_header {
  font-size: 40px;
  font-weight: 400;
  text-transform: none;
  font-style: normal;
  text-align: center;
}

.about_title {
  font-size: 30px;
  font-weight: 300;
  text-transform: none;
  font-style: normal;
  letter-spacing: 1px;
  line-height: 1.3em;
  text-decoration: none;
  text-align: center;
}

.about {
  display: flex;
  background-color: rgb(223, 184, 223);
  padding: 4rem 9rem;
  align-items: center;
}

.about_pp {
  margin-left: 5rem;
}

.about_image {
  height: 250px;
  width: 200px;
  border-radius: 50%;
}

.about_desc {
  font-size: 20px;
}

.about_name {
  font-size: 25px;
}
.def {
  color: brown;
  text-align: center;
  margin: 0;
}
.about_deg {
  font-size: 18px;
}
